---
http_interactions:
- request:
    method: post
    uri: https://api.mindbodyonline.com/0_5/ClassService.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://clients.mindbodyonline.com/api/0_5"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:GetClasses><tns:Request><tns:SourceCredentials><tns:SourceName>HouseQuest</tns:SourceName><tns:Password>fwvGnTrVzv6bz1CL93Qlgvc2e2Y=</tns:Password><tns:SiteIDs><tns:int>-99</tns:int></tns:SiteIDs></tns:SourceCredentials><tns:StartDateTime>2015-01-22T00:00:00</tns:StartDateTime><tns:EndDateTime>2015-01-23T00:00:00</tns:EndDateTime></tns:Request></tns:GetClasses></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://clients.mindbodyonline.com/api/0_5/GetClasses"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><GetClassesResponse
        xmlns="http://clients.mindbodyonline.com/api/0_5"><GetClassesResult><Status>Success</Status><ErrorCode>200</ErrorCode><XMLDetail>Full</XMLDetail><ResultCount>2</ResultCount><CurrentPageIndex>0</CurrentPageIndex><TotalPageCount>1</TotalPageCount><Classes><Class><ClassScheduleID>2152</ClassScheduleID><Location><SiteID>-99</SiteID><BusinessDescription>"The
        MINDBODY Health Club Demo is awesome." - Anonymous (but probably someone cool
        and smart)</BusinessDescription><AdditionalImageURLs /><FacilitySquareFeet
        xsi:nil="true" /><TreatmentRooms xsi:nil="true" /><HasClasses>false</HasClasses><PhoneExtension
        /><ID>1</ID><Name>Clubville</Name><Address>4051 S Broad St</Address><Address2>San
        Luis Obispo, CA 93401</Address2><Tax1>0.08</Tax1><Tax2>0.05</Tax2><Tax3>0.05</Tax3><Tax4>0</Tax4><Tax5>0</Tax5><Phone>8777554279</Phone><City>San
        Luis Obispo</City><StateProvCode>CA</StateProvCode><PostalCode>93401</PostalCode><Latitude>35.2470788</Latitude><Longitude>-120.6426145</Longitude></Location><MaxCapacity
        xsi:nil="true" /><WebCapacity xsi:nil="true" /><TotalBooked xsi:nil="true"
        /><TotalBookedWaitlist xsi:nil="true" /><WebBooked xsi:nil="true" /><SemesterID
        xsi:nil="true" /><IsCanceled>false</IsCanceled><Substitute>true</Substitute><Active>true</Active><IsWaitlistAvailable>false</IsWaitlistAvailable><IsEnrolled>false</IsEnrolled><HideCancel>false</HideCancel><ID>20437</ID><IsAvailable>false</IsAvailable><StartDateTime>2015-01-22T06:20:00</StartDateTime><EndDateTime>2015-01-22T07:20:00</EndDateTime><ClassDescription><Level><ID>7</ID><Name>Beginner</Name></Level><ID>223</ID><Name>Yoga</Name><Description>&lt;div&gt;Hatha
        yoga&lt;/div&gt;</Description><Prereq /><Notes /><LastUpdated>2015-01-22T15:36:26.037</LastUpdated><Program><ID>27</ID><Name>Classes</Name><ScheduleType>DropIn</ScheduleType><CancelOffset>0</CancelOffset></Program><SessionType><DefaultTimeLength
        xsi:nil="true" /><ProgramID>27</ProgramID><NumDeducted>1</NumDeducted><ID>250</ID><Name>Hatha
        Yoga</Name></SessionType></ClassDescription><Staff><State /><Country>US</Country><ID>100000291</ID><Name>Jana
        Fit</Name><FirstName>Jana</FirstName><LastName>Fit</LastName><isMale>false</isMale></Staff></Class><Class><ClassScheduleID>2152</ClassScheduleID><Location><SiteID>-99</SiteID><BusinessDescription>"The
        MINDBODY Health Club Demo is awesome." - Anonymous (but probably someone cool
        and smart)</BusinessDescription><AdditionalImageURLs /><FacilitySquareFeet
        xsi:nil="true" /><TreatmentRooms xsi:nil="true" /><HasClasses>false</HasClasses><PhoneExtension
        /><ID>1</ID><Name>Clubville</Name><Address>4051 S Broad St</Address><Address2>San
     [...]
