---
http_interactions:
- request:
    method: post
    uri: https://api.mindbodyonline.com/0_5/SaleService.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://clients.mindbodyonline.com/api/0_5"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:GetServices><tns:Request><tns:SourceCredentials><tns:SourceName>HouseQuest</tns:SourceName><tns:Password>fwvGnTrVzv6bz1CL93Qlgvc2e2Y=</tns:Password><tns:SiteIDs><tns:int>-99</tns:int></tns:SiteIDs></tns:SourceCredentials></tns:Request></tns:GetServices></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://clients.mindbodyonline.com/api/0_5/GetServices"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><GetServicesResponse
        xmlns="http://clients.mindbodyonline.com/api/0_5"><GetServicesResult><Status>Success</Status><ErrorCode>200</ErrorCode><XMLDetail>Full</XMLDetail><ResultCount>4</ResultCount><CurrentPageIndex>0</CurrentPageIndex><TotalPageCount>1</TotalPageCount><Services><Service><Price>200.0000</Price><OnlinePrice>200.0000</OnlinePrice><TaxRate>0</TaxRate><ProductID>1192</ProductID><ID>1192</ID><Name>Six
        Week Bootcamp</Name><Count>6</Count></Service><Service><Price>100.0000</Price><OnlinePrice>100.0000</OnlinePrice><TaxRate>0</TaxRate><ProductID>1408</ProductID><ID>1408</ID><Name>90
        min Reservation</Name><Count>1</Count></Service><Service><Price>0.0000</Price><OnlinePrice>0.0000</OnlinePrice><TaxRate>0</TaxRate><ProductID>1418</ProductID><ID>1418</ID><Name>Personal
        Training Consult</Name><Count>1</Count></Service><Service><Price>10.0000</Price><OnlinePrice>10.0000</OnlinePrice><TaxRate>0</TaxRate><ProductID>1426</ProductID><ID>1426</ID><Name>class
        option</Name><Count>1</Count></Service></Services></GetServicesResult></GetServicesResponse></soap:Body></soap:Envelope>
  recorded_at: Thu, 22 Jan 2015 18:26:07 GMT
recorded_with: VCR 2.9.3
