---
http_interactions:
- request:
    method: post
    uri: https://api.mindbodyonline.com/0_5/SiteService.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://clients.mindbodyonline.com/api/0_5"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://clients.mindbodyonline.com/API/0_4"><env:Body><tns:GetLocations><tns:Request><tns:SourceCredentials><tns:SourceName>HouseQuest</tns:SourceName><tns:Password>fwvGnTrVzv6bz1CL93Qlgvc2e2Y=</tns:Password><tns:SiteIDs><tns:int>-99</tns:int></tns:SiteIDs></tns:SourceCredentials></tns:Request></tns:GetLocations></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://clients.mindbodyonline.com/api/0_5/GetLocations"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><GetLocationsResponse
        xmlns="http://clients.mindbodyonline.com/api/0_5"><GetLocationsResult><Status>Success</Status><ErrorCode>200</ErrorCode><XMLDetail>Full</XMLDetail><ResultCount>3</ResultCount><CurrentPageIndex>0</CurrentPageIndex><TotalPageCount>1</TotalPageCount><Locations><Location><SiteID>-99</SiteID><BusinessDescription>"The
        MINDBODY Health Club Demo is awesome." - Anonymous (but probably someone cool
        and smart)</BusinessDescription><AdditionalImageURLs /><FacilitySquareFeet
        xsi:nil="true" /><TreatmentRooms xsi:nil="true" /><HasClasses>false</HasClasses><PhoneExtension
        /><ID>1</ID><Name>Clubville</Name><Address>4051 S Broad St</Address><Address2>San
        Luis Obispo, CA 93401</Address2><Tax1>0.08</Tax1><Tax2>0.05</Tax2><Tax3>0.05</Tax3><Tax4>0</Tax4><Tax5>0</Tax5><Phone>8777554279</Phone><City>San
        Luis Obispo</City><StateProvCode>CA</StateProvCode><PostalCode>93401</PostalCode><Latitude>35.2470788</Latitude><Longitude>-120.6426145</Longitude></Location><Location><SiteID>-99</SiteID><BusinessDescription>"The
        MINDBODY Health Club Demo is awesome." - Anonymous (but probably someone cool
        and smart)</BusinessDescription><AdditionalImageURLs /><FacilitySquareFeet
        xsi:nil="true" /><TreatmentRooms xsi:nil="true" /><HasClasses>false</HasClasses><PhoneExtension
        /><ID>2</ID><Name>Fitville</Name><Address>870 Broad St</Address><Address2>San
        Luis Obispo, CA 93401</Address2><Tax1>0.08[...]
