---
http_interactions:
- request:
    method: post
    uri: https://api.mindbodyonline.com/0_5/SiteService.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://clients.mindbodyonline.com/api/0_5"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://clients.mindbodyonline.com/API/0_4"><env:Body><tns:GetSites><tns:Request><tns:SourceCredentials><tns:SourceName>HouseQuest</tns:SourceName><tns:Password>fwvGnTrVzv6bz1CL93Qlgvc2e2Y=</tns:Password><tns:SiteIDs><tns:int>-99</tns:int></tns:SiteIDs></tns:SourceCredentials></tns:Request></tns:GetSites></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://clients.mindbodyonline.com/api/0_5/GetSites"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?><soap:Envelope xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"><soap:Body><GetSitesResponse
        xmlns=\"http://clients.mindbodyonline.com/api/0_5\"><GetSitesResult><Status>Success</Status><ErrorCode>200</ErrorCode><XMLDetail>Full</XMLDetail><ResultCount>1</ResultCount><CurrentPageIndex>0</CurrentPageIndex><TotalPageCount>1</TotalPageCount><Sites><Site><ID>-99</ID><Name>API
        Sandbox Site</Name><Description>\"The MINDBODY Health Club Demo is awesome.\"\r\n
        - Anonymous (but probably someone cool and smart)</Description><LogoURL>https://clients.mindbodyonline.com/studios/DemoAPISandboxRestore/logo_mobile.png?imageversion=1421947992</LogoURL><PageColor1>#405598</PageColor1><PageColor2>#8293ca</PageColor2><PageColor3>#405598</PageColor3><PageColor4>#405598</PageColor4><AcceptsVisa>false</AcceptsVisa><AcceptsDiscover>false</AcceptsDiscover><AcceptsMasterCard>false</AcceptsMasterCard><AcceptsAmericanExpress>false</AcceptsAmericanExpress><ContactEmail>test@mindbodyonline.com
        \                                                                            </ContactEmail></Site></Sites></GetSitesResult></GetSitesResponse></soap:Body></soap:Envelope>"
  recorded_at: Fri, 23 Jan 2015 01:33:12 GMT
recorded_with: VCR 2.9.3
