---
http_interactions:
- request:
    method: post
    uri: https://api.mindbodyonline.com/0_5/ClientService.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://clients.mindbodyonline.com/api/0_5"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:GetClientServices><tns:Request><tns:SourceCredentials><tns:SourceName>HouseQuest</tns:SourceName><tns:Password>fwvGnTrVzv6bz1CL93Qlgvc2e2Y=</tns:Password><tns:SiteIDs><tns:int>-99</tns:int></tns:SiteIDs></tns:SourceCredentials><tns:ClientID><tns:ClientID>1</tns:ClientID></tns:ClientID></tns:Request></tns:GetClientServices></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://clients.mindbodyonline.com/api/0_5/GetClientServices"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><GetClientServicesResponse
        xmlns="http://clients.mindbodyonline.com/api/0_5"><GetClientServicesResult><Status>InvalidParameters</Status><ErrorCode>313</ErrorCode><Message>A
        program ID or session type ID must be specified.</Message><XMLDetail>Full</XMLDetail><ResultCount>0</ResultCount><CurrentPageIndex>0</CurrentPageIndex><TotalPageCount>0</TotalPageCount></GetClientServicesResult></GetClientServicesResponse></soap:Body></soap:Envelope>
  recorded_at: Thu, 22 Jan 2015 21:19:09 GMT
recorded_with: VCR 2.9.3
