---
http_interactions:
- request:
    method: post
    uri: https://api.mindbodyonline.com/0_5/SaleService.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://clients.mindbodyonline.com/api/0_5"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:GetPackages><tns:Request><tns:SourceCredentials><tns:SourceName>HouseQuest</tns:SourceName><tns:Password>fwvGnTrVzv6bz1CL93Qlgvc2e2Y=</tns:Password><tns:SiteIDs><tns:int>-99</tns:int></tns:SiteIDs></tns:SourceCredentials></tns:Request></tns:GetPackages></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://clients.mindbodyonline.com/api/0_5/GetPackages"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><GetPackagesResponse
        xmlns="http://clients.mindbodyonline.com/api/0_5"><GetPackagesResult><Status>Success</Status><ErrorCode>200</ErrorCode><XMLDetail>Full</XMLDetail><ResultCount>1</ResultCount><CurrentPageIndex>0</CurrentPageIndex><TotalPageCount>1</TotalPageCount><Packages><Package><ID>352</ID><Name>PIF
        Membership</Name><DiscountPercentage>0</DiscountPercentage><SellOnline>true</SellOnline><Services><Service><Price>560.0000</Price><OnlinePrice>560.0000</OnlinePrice><TaxRate>0</TaxRate><ProductID>1197</ProductID><ID>1197</ID><Name>Membership
        PIF - Gym Access</Name><Count>1000</Count></Service></Services><Products /></Package></Packages></GetPackagesResult></GetPackagesResponse></soap:Body></soap:Envelope>
  recorded_at: Thu, 22 Jan 2015 18:26:08 GMT
recorded_with: VCR 2.9.3
