---
http_interactions:
- request:
    method: post
    uri: https://api.mindbodyonline.com/0_5/SaleService.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://clients.mindbodyonline.com/api/0_5"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:GetProducts><tns:Request><tns:SourceCredentials><tns:SourceName>HouseQuest</tns:SourceName><tns:Password>fwvGnTrVzv6bz1CL93Qlgvc2e2Y=</tns:Password><tns:SiteIDs><tns:int>-99</tns:int></tns:SiteIDs></tns:SourceCredentials></tns:Request></tns:GetProducts></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://clients.mindbodyonline.com/api/0_5/GetProducts"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: '<?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><GetProductsResponse
        xmlns="http://clients.mindbodyonline.com/api/0_5"><GetProductsResult><Status>Success</Status><ErrorCode>200</ErrorCode><XMLDetail>Full</XMLDetail><ResultCount>12</ResultCount><CurrentPageIndex>0</CurrentPageIndex><TotalPageCount>1</TotalPageCount><Products><Product><Price>120.0000</Price><TaxRate>0.13</TaxRate><ID>000189</ID><GroupID>189</GroupID><Name>Polar
        Heart Rate Monitor</Name><OnlinePrice>120.0000</OnlinePrice><ShortDesc>FT
        80 Strength Gaining Guidance</ShortDesc><LongDesc>The FT 80 Guides your strength
        training with heart rate based recovery periods between sets. Creates a training
        program based on your personal goals and sets new weekly training targets.The
        Polar Fitness test measures your aerobic fitness at rest and tells you your
        progress.</LongDesc><Color><ID>1</ID><Name>None</Name></Color><Size><ID>1</ID><Name>None</Name></Size></Product><Product><Price>45.0000</Price><TaxRate>0.13</TaxRate><ID>000210</ID><GroupID>210</GroupID><Name>CLHC
        Duffle Bag</Name><OnlinePrice>45.0000</OnlinePrice><Color><ID>1</ID><Name>None</Name></Color><Size><ID>1</ID><Name>None</Name></Size></Product><Product><Price>33.0000</Price><TaxRate>0.13</TaxRate><ID>000592</ID><GroupID>592</GroupID><Name>Foam
        Rollers</Name><OnlinePrice>33.0000</OnlinePrice><ShortDesc>Round 36" Foam
        Roller</Sho[...]
