<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<meta name="author" content="Get Fitter">
    <meta name="description" content="An API for Urban Dictionary">

    <title>mindbody-integration &mdash; a RESTful API for MINDBODY</title>

	<!-- sensible default styles -->
	<link rel="stylesheet" href="/stylesheets/normalize.css">
    <!-- pretty custom styles -->
    <link rel="stylesheet" href="/stylesheets/main.css">
    <!-- code styles -->
    <link rel="stylesheet" href="/stylesheets/code.css">
  </head>

  <body>
    <h1>mindbody-integration <span class="smallcaps">a RESTful API for MINDBODY</span></h1>
    <%= yield %>
  </body>
</html>